@CHARSET "ISO-8859-1";

.paddedClass {
	margin-top: 20;
	margin-left: 60;
	margin-right: 60;
	background-color: #FAFAFA;
	color: #212121;
}

.top{
	background-color: #0097A7;
	color: #E4F3F5;
}

.top a:LINK{	
	color: #E4F3F5;
	text-decoration: none;
}
.btn-primary {
	background-color: #0097A7;
	color: #E4F3F5;
	border-color: #357ebd
}

.navbar-default .navbar-brand {
	color: #0097A7;
	text-decoration: underline;
}

.middle {
  position: relative;
  top: 30%;
  transform: translateY(-30%);
}